<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Image Constructor.">
    <meta name="author" content="uefpro@gmail.com">

    <title>Phoenix Trello</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link id="favicon" rel="icon" type="image/png" sizes="64x64" href="<%= static_path(@conn, "/static/images/favicon.png") %>"/>
  </head>

  <body>
    <main id="main_container" role="main"></main>
    <footer id="main_footer">
      <small>
        <a href="http://caix.ru/" target="_blank">Phoenix Trello</a>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
